body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}
.color-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #FFFFFF;
    height: 200px;

}
.color-input {
    border: none;
    border-radius: 4px;
    height: 42px;
    width: 60px;
}
.group-select {
    width: 312px;
    height: 42px;
    border-radius: 4px;
}
.select-btn {
    width: 113px;
    height: 42px;
    background-color: #FFFFFF;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    cursor: pointer;
}
.schemes {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    justify-content: space-between;
}
.color-show {
    background-color: #282828;
    display: flex;
    height: 400px;
}
.color-box {
    flex-grow: 1;
    height: 100%;
}
.color-hex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FFFFFF;
    padding: 15px 0;
}
.color-hex p {
    margin: 0;
}
.footer {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: end;
    padding: 0 1rem 0.5rem 1rem;
    height: 2rem;
    flex-grow: 0;
    background-color: #FFFFFF;
    font-size: small;
}
.footer a {
    text-decoration: none;
}

@media screen and (max-width: 580px) {
    .color-select {
        flex-direction: column;
        height: 150px;
    }
    .color-input {
        width: 89%;
    }
    .group-select {
        width: 89%;
    }
    .select-btn {
        width: 89%;
    }
    .schemes {
        display: flex;
        flex-direction: row;
        padding-right: 4%;
    }
    .color-box {
        flex-grow: 1;
        height: 100%;
    }
    .color-show {
        flex-direction: column;
        width: 75%;
        height: 100%;
    }
    .color-hex {
        flex-direction: column;
        padding: 0px 10px;
    }
}
@media screen and (max-width: 340px) {
    .color-show {
        width: 65%;
    }
}
@media screen and (max-width: 225px) {
    .color-show {
        width: 55%;
    }
}