body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.color-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #FFFFFF;
    flex-grow: 1;
}
.color-input {
    border: none;
    border-radius: 3px;
    height: 42px;
    width: 51px;
}
.group-select {
    width: 312px;
    height: 42px;
}
.select-btn {
    width: 113px;
    height: 42px;
}
.color-show {
    flex-grow: 8;
    background-color: #282828;
    display: flex;

}
.color-box {
    flex-grow: 1;
    height: 100%;
}
.color-hex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3rem;
    flex-grow: 1;
    background-color: #FFFFFF;
}
.footer {
    display: flex;
    gap: 20px;
    align-items: baseline;
    height: 2rem;
    flex-grow: 0;
    background-color: #FFFFFF;
}

